 /* section chat với the an */
 .chat-the-an {
     width: 68%;
     height: auto;
     padding-top: 40px;
     margin: 0 auto;
 }

 .chat-the-an .title-h3 {
     font-size: 26px;
     margin-bottom: 20px;
 }

 .chat-the-an .title-h5 {
     font-size: 18px;
 }

 .chat-the-an .btn-bottom {
     width: 100%;
 }

 .chat-the-an .btn-bottom a.btn-zalo {
     margin-right: 10px;
 }

 .chat-the-an .btn-bottom a.btn-grey {
     padding-left: 60px;
     padding-right: 60px;
 }