/* policy */
.policy {
    width: 60%;
    margin: 0 auto;
    box-shadow: var(--default-box-shadow);
    line-height: 1.5;
    font-size: 16.8px;
    padding: 30px;
}

.policy-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.policy ul li:before {
    content: '✓ ';
    margin-right: 5px;
}

.policy ul li {
    line-height: 2;
}

.policy ul,
.policy p {
    margin-bottom: 20px;
}

.policy ul li>ul {
    padding-left: 20px;
    box-sizing: border-box;
}