.footer {
    background-color: #ffffff;
}

.footer .top {
    padding: 70px 25px 70px;
    box-shadow: 0 0 15px rgba(22, 44, 83, 0.08);
    height: auto;
}

.footer .top-inner,
.footer .bot .info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.row [class*="cm-"] {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.cm-2 {
    width: 16.66667%;
}

.cm-4 {
    width: 33.33333%;
}

.footer .widget:not(:last-child) {
    margin-bottom: 30px;
}

.footer .widget-title {
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    margin: 0 0 15px;
}

.wr-desktop .widget_nav_menu li {
    margin-bottom: 0;
    position: relative;
}

.menu li {
    line-height: 1.5;
    margin-bottom: 10px;
}

.wp-block-categories-list li {
    line-height: 1.5;
    margin-bottom: 10px;
}

.wp-block-categories-list li .children li {
    margin-left: 20px;
}

/* bot */
.footer .bot {
    background-color: #f2f2f2;
}

.footer .bot {
    padding: 25px 0;
    position: relative;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer .bot .info {
    text-align: center;
    font-style: italic;
}

#wr-back-top {
    position: fixed;
    bottom: 125px;
    right: 20px;
    z-index: 99;
    background-color: var(--default-color-white);
    border: 1px solid #ebebeb;
    border-radius: 100%;
}

#wr-back-top>a.nitro-line {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wr-back-top>a.nitro-line i.fa::before {
    font-size: 21px;
}

#wr-back-top:hover {
    background-color: var(--default-color-green);
}

#wr-back-top:hover>a.nitro-line {
    color: var(--default-color-white);
}