/* cart */
.cart-container {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--default-box-shadow);
    flex-direction: column;
}

.cart-title {
    padding: 20px 30px;
    background-color: var(--default-color-white);
}

.cart-title h3 {
    margin-bottom: 20px;
}

.list-cart {
    width: 100%;
}

.total-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.total-cart form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-container .btn-bottom {
    justify-content: space-between;
    flex-direction: row;
}

.cart-container i.fa {
    margin: 0;
}

.cart-container i.fa-chevron-left:last-child {
    margin: 0 15px 0 0;
}

.cart-container .btn-grey:hover {
    background-color: var(--default-color-black);
    color: var(--default-color-white);
}

.total-cart form .voucher-input {
    border-bottom: 1px solid var(--default-color-black);
    padding: 15px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

.total-cart form .voucher-input:focus-visible {
    outline: none;
}

.product-cart {
    width: 100%;
    background: #FFF;
    color: var(--default-color-black);
    text-align: center;
}

table.table-product {
    width: 100%;
    height: auto;
    border-spacing: 0;
    border-collapse: unset;
}

table.table-product thead.table-header-product th {
    height: 72px;
    font-size: 14px;
    line-height: 72px;
    color: var(--default-color-black);
    box-sizing: border-box;
    border-bottom: 1px solid var(--default-color-black);
}

.th-product-1 {
    width: 29%;
}

.th-product-2 {
    width: 29%;
}

.th-product-3 {
    width: 5%;
}

.th-product-4 {
    width: 29%;
}

table.table-product td {
    border-bottom: 1px solid var(--default-color-black);
    box-sizing: border-box;
    padding: 20px 0;
}

table.table-product tbody tr td:first-child {
    display: flex;
    justify-content: start;
}

table.table-product tbody tr td:first-child img {
    width: 15%;
}

table.table-product tbody tr td:first-child div {
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

table.table-product tbody tr td:nth-child(2) {
    font-weight: 600;
    padding-left: 10px;
}

table.table-product tbody tr td:nth-child(3) {
    padding-left: 10px;
}

table.table-product tbody tr td:nth-child(4) {
    padding-left: 10px;
}

table.table-product tbody tr td:nth-child(4) span {
    display: inline-block;
    color: var(--default-color-green);
    font-weight: 600;
}

table.table-product tbody tr td:nth-child(4) {
    position: relative;
}

table.table-product tbody tr td:nth-child(4) a {
    position: absolute;
    top: 10%;
    right: 10px;
}

/* btn quatity */
.quantity {
    width: 77px;
    height: 44.6px;
    display: flex;
}

.quantity .btn-qty {
    top: 0;
    right: 0;
    width: 32px;
}

.quantity input[type="text"] {
    height: 43px;
    width: 43px;
    border: 1px solid #e1e1e1;
    text-align: center;
    background: none;
    border-radius: 0;
}

.quantity .btn-qty {
    display: flex;
    flex-direction: column;
}

.quantity .btn-qty a {
    border: 1px solid #e1e1e1;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* total-cart-bg */
.total-cart-bg {
    padding: 20px;
    background-color: var(--default-color-grey);
    font-size: 18px;
}

.total-cart-title {
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin: 40px 0 15px;
}

.total-cart-bg table th {
    width: 200%;
    text-align: left;
    float: left;
    padding: 20px 0;
}

.total-cart-bg table td {
    text-align: right;
    line-height: 1.5;
    padding: 20px 0;
}

.total-cart table tr:nth-child(2) td {
    text-align: left;
}

.total-cart table tr:nth-child(2) td>div {
    padding-left: 150px;
}

.total-cart table tr:nth-child(2) td>h3 {
    margin-left: -60px;
    color: var(--default-color-black-2);
}

.total-cart table tr:nth-child(2) td>section>div {
    margin-left: -60px;
}

.total-cart table tr:nth-child(2) td>ul>li {
    font-size: 16px;
}

.total-cart table tr:nth-child(2) td>ul>li>span {
    color: var(--default-color-green);
    font-weight: 600;
}

.total-cart table tr:nth-child(2) td>section>div select {
    width: 100%;
    padding: 10px;
    margin: 20px 0 10px;
    font-size: 16px;
}

#calc_shipping_country {
    background-color: var(--default-color-grey);
}

#submit-update {
    width: 100%;
    margin-top: 15px;
}

.total-cart table tr:nth-child(3) td {
    color: var(--default-color-green);
}

.make-payment {
    margin-top: 20px;
    width: 100%;
}

.make-payment a {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}